.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

/* Main */
@media (min-width: 501px) {
    .Footer{
        font-size: .85em !important;
    }
  }
  
  /* Mobile */
  @media (max-width: 500px) {
    .Footer{
        font-size: .75em !important;
    }
  }

a {
    color: white;
  }
  
a:hover {
    text-decoration: none;
  }
  