.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

a {
    color: white;
  }
  
a:hover {
    text-decoration: none;
  }
  